<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="bg-info text-white">
    <p style="color: green"><%= notice %></p>

    <div class="container text-center">

    <img src="https://i.pinimg.com/564x/c0/60/59/c060592a7056d6cb409d6cc4695a083a.jpg" alt="Cash Logo" style="width:200px; height:200px;">
    <h1 class="display-1 mt-3">BankTrack</h1>
    <p class="lead">The world's most innovative financial tracking app!</p>
    
    
    <%= button_to "Get Started", accounts_path, class:"btn btn-dark", method: :get %>
    
    </div>


  </body>
</html>

